In [32]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn.metrics as metrics
from sklearn.metrics import matthews_corrcoef
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge, LogisticRegression
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.ensemble import RandomForestRegressor

In [33]:
trd = pd.read_csv('train.csv').drop('Index', 1)
tsd = pd.read_csv('test.csv').drop('Index', 1)

In [34]:
trd.head()

,Gender,Senior,Married,Dependents,Tenure,Phone,MultiplePhones,Internet,Security,Backup,Insurance,Support,TV,Movies,Contract,EBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,Yes,67,No,No phone service,DSL,Yes,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),54.20,3623.95,False
1,Female,0,No,No,34,Yes,Yes,DSL,Yes,Yes,No,Yes,No,No,One year,Yes,Mailed check,64.40,2088.75,True
2,Female,1,Yes,No,72,Yes,Yes,Fiber optic,Yes,Yes,Yes,Yes,No,No,Two year,Yes,Bank transfer (automatic),96.60,6827.5,False
3,Female,0,Yes,Yes,63,Yes,No,DSL,Yes,Yes,Yes,Yes,No,No,Two year,No,Mailed check,63.55,4014.2,False
4,Male,0,Yes,Yes,69,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,No,One year,No,Credit card (automatic),95.75,6511.25,False

In [35]:

def format_df(trd):
    trd= trd.replace(['', ' '], 0)
    trdwd = pd.concat([
        trd.drop(['Gender', 'Internet', 'Contract'], axis=1),
        pd.get_dummies(trd['Internet'], prefix='Internet'),    
        pd.get_dummies(trd['Contract'], prefix='Contract')
    ], axis = 1)

    trdwd = trdwd.replace(['Electronic check', 'Mailed check'], 0)
    trdwd = trdwd.replace(['Bank transfer (automatic)', 'Credit card (automatic)'], 1)

    trdwd = trdwd.replace(['No phone service', 'No internet service'], 0)

    trdwd = trdwd.replace(['Yes', True, 'True'], 1)
    trdwd = trdwd.replace(['No', False, 'False'], 0)
    return trdwd
trdwd = format_df(trd)

In [36]:
X, Y = trdwd.drop(['Churn'], axis=1), trdwd['Churn']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=10)

lr = LogisticRegression(random_state=1, solver='liblinear')
lr.fit(X_train, Y_train)
predictions = lr.predict(X_test)
predictions

array([False, False, False, ..., False, False, False])

In [37]:
act = predictions
exp = list(Y_test)
matthews_corrcoef(act, exp)

0.4515898295233522

In [38]:
tsdwd = format_df(tsd)
predictions_finally = lr.predict(tsdwd)
act = predictions_finally
df = pd.DataFrame(act)
df.head()

       0
0  False
1   True
2  False
3  False
4   True

In [39]:
df.to_csv('out.csv', index=True)